@font-face {
  font-family: 'be_vietnam';
  src: url('fonts/be-vietnam/bevietnam-regular-webfont.woff2') format('woff2'),
       url('fonts/be-vietnam/bevietnam-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'be_vietnam';
  src: url('fonts/be-vietnam/bevietnam-bold-webfont.woff2') format('woff2'),
       url('fonts/be-vietnam/bevietnam-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-text: #242D52;
  --color-white: #FFFFFF;
  --color-accent: hsl(12, 88%, 59%);
  --color-body-light: #FFF0EC;
  --color-body-medium: #FAFAFA;
  --color-body-dark: #1D1E25;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: 'be_vietnam', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 1.25;
}

h2 {
  font-size: 3rem;
  letter-spacing: -0.62px;
  line-height: 1.5;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: -0.29px;
  line-height: 1.5;
}

p {
  margin: 0;
  opacity: 0.5025;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: -0.71px;
    line-height: 4.4rem;
  }
}


/* Badges */

.badge {
  background: var(--color-accent);
  border-radius: 40px;
  border: 0;
  color: #FFF;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.29px;
  min-width: 67px;
  height: 39px;
  text-align: center;
  
}


/* Button */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  outline: 0;
  padding: 1.3rem 3.2rem;
  text-decoration: none;
  white-space: nowrap;
}

.btn--accent {
  background: var(--color-accent);
  color: var(--color-white);
}

.btn--white {
  background: var(--color-white);
  color: var(--color-accent);
}

.btn--accent:hover {
  background: #F98F75;
  color: #FCF6F5;
} /* should I add these colors in palette? */

.btn--white:hover {
  color: rgba(243, 96, 60, 0.5);
} /* think about using rgba in variables definition */


/* Media */

.media {
  margin: 4.5rem 1.6rem 0;
  max-width: 500px;
}

.media__heading {
  background: #FFF0EC;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  margin-bottom: 1.1rem;
}

.media__title {
  margin: 0.5rem 1.5rem;
  white-space: nowrap;
}

.media__body {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .media__heading {
    background: #FFF;
  }
  .media__body {
    margin-left: 8.2rem;
  }
}


/* Testimonials */

.testimonial {
  margin: 1.6rem;
  max-width: 54rem;
}

.testimonial__body {
  background: #FAFAFA;
  padding-top: 6rem;
  padding: 4rem 2.1rem;
  text-align: center;
}

.testimonial__title {
  margin-top: 0;
}

.testimonial__img {
  display: block;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transform: translateY(36px);
  width: 72px;
}

@media screen and (min-width: 1024px) {
  .testimonial__body {
    font-size: 1.6rem;
    padding: 4rem;
    padding-top: 6rem;
  }
}


/* Lists */

.list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}


/* Input group */

.input-group {
  display: flex;
  flex-wrap: nowrap; 
}

.input-field {
  border: 0;
  border-radius: 22px;
  background: #FFF;
  margin-right: 0.6rem;
  height: 4.4rem;
  padding: 1.2rem 2.4rem;
  outline: none;
}

.input-field::placeholder {
  color: #8D8D8D;
  font-size: 1.3rem;
  letter-spacing: -0.1px;
}

/* Collapsible */

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible__badge {
  transform: rotate(0);
  transition: transfortm 0.3s;
}

.collapsible--expanded .collapsible__badge {
  transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}


/* Grids */

.grid {
  display: grid;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Blocks */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1.6rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .container {
    text-align: left;
  }
}


/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__logo {
  width: 110px;
  height: 18px;
}

.nav__hamburger {
  width: 25px;
  height: 18px;
}

.nav__list {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;
  margin-top: 1rem;
}

.nav__item {
  padding: 2.4rem auto;
}

.nav__item > a {
  color: var(--color-text);
  transition: opacity 0.3s;
}

.nav__item > a:hover {
  opacity: 0.5;;
}

.nav__btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
  
  .nav {
    flex-wrap: nowrap;
  }

  .nav__logo {
    width: 147px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 1.5rem;
  }

  .nav__list {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.3rem;
    font-weight: 400;
    justify-content: center;
  }

  .nav__item {
    padding: 0 3.2rem;
    white-space: nowrap;
  }

  .nav__btn {
    display: block;
  }

  .nav__hamburger {
    display: none;
  }
}


/* Mail block */

.main {
  margin-top: 2rem;
}

.main__image {
  width: 318px;  
  height: 286px; 
}

.main__header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 44.5rem;
}

.main__description {
  margin: 1rem 2.6rem 3rem;
  max-width: 35rem;
}

@media screen and (min-width: 1024px) {
  .main {
    margin-top: 6rem;
  }

  .main__body {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
  }

  .main__header {
    margin-bottom: 3rem;
  }

  .main__description {
    margin-bottom: 4rem;
  }

  .main__image {
    width: 540px;
    height: 485px;
  }
}


/* Feature block */

.features__header {
  padding: 3rem 2.5rem 0;
  max-width: 54rem;
}

@media screen and (min-width: 1024px) {
  .features__header {
    grid-row: 1 / 4;
  }

  .feature__description {
    max-width: 35rem;
  }
}


/* Block Testimonials */

.block-testimonials {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4.2rem;
}

.testimonials-set {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 1024px) {
  .block-testimonials {
    margin-top: 12rem;
    margin-bottom: 15rem;
  }

  .testimonials-set {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
}


/* Simplify block */

.simplify {
  background: var(--color-accent);
  padding: 4rem 0;
}

.simplify__header {
  color: var(--color-white);
  margin-bottom: 2rem;
}

.simplify__btn {
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .simplify__btn {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
  }
}


/* Footer Block */

.footer {
  background: #1D1E25;
}

.footer__grid {
  grid-template-columns: repeat(2, 1fr);
}

.footer__input-group {
  margin: 5rem auto;
  grid-column: 1 / -1;
}

.footer__input-field {
  width: 239px;
}

.footer__list {
  font-size: 1.5rem;
  letter-spacing: -0.234px;
  text-align: left;
}

.footer__list--right {
  margin: 0 auto 5rem 3rem;
}

.footer__list--left {
  margin: 0 3rem 5rem auto;
}

.footer__list a {
  color: #FFFFFF;
}

.footer a:hover {
  color: #F3603C;
}

.footer__media {
  margin: 0 auto 5rem;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.footer__icon {
  width: 32px;
  height: 32px;
  margin: 0 1.8rem;
}

.footer__logo {
  width: 158px;
  height: 26px;
  margin: 0 auto 5rem auto;
  grid-column: 1 / -1;
}

.footer__copyright {
  color: #FFF;
  letter-spacing: -0.203px;
  opacity: 0.5025;
  margin: 0 auto 3rem;
  grid-column: 1 / -1;
}

@media screen and (min-width: 1024px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto
  }

  .footer__input-group {
    margin: 6.5rem auto;
    grid-area: 1/ 4 / 2 / 5;
  }
  
  .footer__list--left {
    margin: 6.2rem 3rem 0 4rem;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: start;
  }

  .footer__list--right {
    margin: 6.2rem auto 0 0;
    grid-area: 1 / 3 / 3 / 4;
    justify-self: start;
  }

  .footer__media {
    margin: 0 auto 6rem 0;
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer__logo {
    margin: 6.2rem auto 8.3rem 0;
    grid-area: 1 / 1 / 2 / 2;
  }

  .footer__copyright {
    margin: 0 0 6rem auto;
    grid-area: 2 / 4 / 3 / 5;
  }

  .footer__icon {
    width: 20px;
    height: 20px;
    margin: 0 1.3rem 0 0;
  }
}
