@font-face {
  font-family: 'be_vietnam';
  src: url('fonts/be-vietnam/bevietnam-regular-webfont.woff2') format('woff2'),
       url('fonts/be-vietnam/bevietnam-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'be_vietnam';
  src: url('fonts/be-vietnam/bevietnam-bold-webfont.woff2') format('woff2'),
       url('fonts/be-vietnam/bevietnam-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

:root {
  --color-text: #242D52;
  --color-white: #FFFFFF;
  --color-accent: hsl(12, 88%, 59%);
  --color-body-light: #FFF0EC;
  --color-body-medium: #FAFAFA;
  --color-body-dark: #1D1E25;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}


/* Typography */

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text);
  font-family: 'be_vietnam', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  letter-spacing: -1px;
  line-height: 1.25;
}

h2 {
  font-size: 3rem;
  letter-spacing: -0.62px;
  line-height: 1.5;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: -0.29px;
  line-height: 1.5;
}

p {
  margin: 0;
  opacity: 0.5025;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  h2 {
    font-size: 4rem;
    letter-spacing: -0.71px;
    line-height: 4.4rem;
  }
}


/* Badges */

.badge {
  background: var(--color-accent);
  border-radius: 40px;
  border: 0;
  color: #FFF;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.29px;
  min-width: 67px;
  height: 39px;
  text-align: center;
  
}


/* Button */

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  outline: 0;
  padding: 1.5rem 3.3rem;
  text-decoration: none;
  white-space: nowrap;
}

.btn--accent {
  background: var(--color-accent);
  color: var(--color-white);
}

.btn--white {
  background: var(--color-white);
  color: var(--color-accent);
}

.btn--accent:hover {
  background: #F98F75;
  color: #FCF6F5;
} /* should I add these colors in palette? */

.btn--white:hover {
  color: rgba(243, 96, 60, 0.5);
} /* think about using rgba in variables definition */


/* Media */

.media {
  margin: 4.5rem 1.6rem;
}

.media__heading {
  background: #FFF0EC;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  margin-bottom: 1.1rem;
}

.media__title {
  margin: 0.5rem 1.5rem;
  white-space: nowrap;
  }

@media screen and (min-width: 375px) {
  .media__heading {
    background: #FFF;
  }
  .media__body {
    margin-left: 8.2rem;
  }
}


/* Testimonials */

.testimonial {
  margin: 1.6rem;
}

.testimonial__body {
  background: #FAFAFA;
  padding: 4rem 2.1rem;
  padding-top: 6rem;
  text-align: center;
}

.testimonial__title {
  margin-top: 0;
}

.testimonial__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 72px;
  width: 72px;
  position: relative;
  transform: translateY(36px);
}

@media screen and (min-width: 1024px) {
  .testimonial__body {
    font-size: 1.6rem;
    padding: 4rem;
    padding-top: 6rem;
  }
}


/* Lists */

.list {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}


/* Input group */

.input-group {
  display: flex;
  flex-wrap: nowrap; 
}

.input__field {
  border: 0;
  border-radius: 22px;
  background: #FFF;
  margin-right: 0.6rem;
  height: 4.4rem;
  padding: 1.2rem 2.4rem;
}

.input__field::placeholder {
  color: #8D8D8D;
  font-size: 1.3rem;
  letter-spacing: -0.1px;
}


.container {
  max-width: 1108px;
}


/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
