<div class="container nav collapsible collapsible--expanded">
  <svg class="icon nav__logo">
    <use xlink:href="images/sprite.svg#logo"></use>
  </svg>
  <svg class="icon nav__hamburger collapsible__badge">
    <use xlink:href="images/sprite.svg#icon-hamburger"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Pricing</a></li>
    <li class="nav__item"><a href="#">Product</a></li>
    <li class="nav__item"><a href="#">About Us</a></li>
    <li class="nav__item"><a href="#">Careers</a></li>
    <li class="nav__item"><a href="#">Community</a></li>
  </ul>
  <a target="_blank" href="#" class="btn btn--accent nav__btn">Get Started</a>
</div>
<!-- Make Collapsing -->
<script src="js/main.js"></script>

<!-- There is a bug. During shrinking list doesn't shrink and makes overfloy. -->