<footer class="footer">
  <div class="container grid footer__grid">
    <div class="input-group footer__input-group">
      <input type="text" class="input-field footer__input-field" placeholder="Updates in your inbox…">
      <button class="btn btn--accent">Go</button>
    </div>
    <ul class="list footer__list footer__list--left">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Product</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
    <ul class="list footer__list footer__list--right">
      <li><a href="#">Careers</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    <div class="footer__media">
      <svg class="footer__icon">
        <use xlink:href="images/media-sprite.svg#icon-facebook"></use>
      </svg>
      <svg class="footer__icon">
        <use xlink:href="images/media-sprite.svg#icon-youtube"></use>
      </svg>
      <svg class="footer__icon">
        <use xlink:href="images/media-sprite.svg#icon-twitter"></use>
      </svg>
      <svg class="footer__icon">
        <use xlink:href="images/media-sprite.svg#icon-pinterest"></use>
      </svg>
      <svg class="footer__icon">
        <use xlink:href="images/media-sprite.svg#icon-instagram"></use>
      </svg>
    </div>
      <svg class="footer__logo">
        <use xlink:href="images/sprite.svg#white-logo"></use>
      </svg>
    <p class="footer__copyright">Copyright 2020. All Rights Reserved</p>
  </div>
</footer>