<section class="container main">
  <div class="grid grid--1x2">
    <div class="main__image-container">
      <svg class="main__image">
        <use xlink:href="images/sprite.svg#illustration-intro"></use>
      </svg>
    </div>  
    <div class="main__body">
      <h1 class="main__header">
        Bring everyone together to build better products.
      </h1>
      <p class="main__description">
        Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.
      </p>
      <a target="_blank" href="#" class="btn btn--accent">Get Started</a>
    </div>
  </div>
</section>

<!--
  TODO: 
  1. Problem with image size and shrinking
  2. Problem with <p> alignment while transition to mobile
-->